# Dataset files
dataset/*.csv.bz2


### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
venv
pip-selfcheck.json


### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
